<h1>All People</h1>
<p class="btn btn-default"><a href="/people/new">Create New Person</a></p>
<table class="table">
<thead class="thead-inverse">
    <th>Name</th><th>Birthdate</th><th>Edit</th><th>Delete</th>
    </thead>
<tbody>
 <% @people.each do |person| %>
    <tr>
    <td>
        <a href="<%= "/people/#{person.id}" %>">
     <%= "#{person.first_name} #{person.last_name}" %>  
        </a>
        </td>
    <td>
     <%= "#{person.birthdate} " %>   
        </td>
        <td>
            <a href="<%= "/people/#{person.id}/edit" %>" class="btn btn-default">Edit</a></td>
        <td>
            <form action="<%= "/people/#{person.id}" %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" class="btn btn-default" />
            </form>
                  </td>
    </tr>
    <% end %>
    </tbody>
</table>
